/*WIP #banner wallpaper for Navbar*/
/* You could use :after */
#banner:before {
    content: ' ';
    display: grid;
    position: relative;
    left: 0;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url("Taco_Truck/santamonica2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Background image positioning*/
body {
    background-color: rgba(255, 255, 255, 0.40) !important;
    background-image: url("Taco_Truck/white bg.jpg");
    background-blend-mode: color;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Title option spacing for navbar toggler widths*/
.navbar-nav > li{
  padding-left:180px;
  padding-right:20px;
}

/*Navbar fonts*/
.nav-link {
  font-family: "Marker Felt", fantasy;
  color: rgb(243, 159, 4);
}

.nav-link:hover {
  color:rgb(173, 9, 9);
  transform: scale(1.2);
}

.fa.fa-navicon {
  color: rgb(243, 159, 4);
  font-size:30px;
}

.fa.fa-navicon:hover {
  color:rgb(173, 9, 9);
}

.custom-toggler:hover {
  transform: scale(1.2);
}

.custom-toggler {
  border: none;
  outline: none;
}

/*Taco truck logo positining*/
.img-container {
  position:relative;
  display:inline-block;
  z-index:1;
}

 .logo-container {
  position:absolute;
  top:20%;
  left:15%;
  width: 70%;
  height:auto;
}

.taco_truck_logo {
  width: auto;
  height: auto;
  border-radius: 100%;
}

/*Santa Monica Tacos Logo transitioning in and out*/
.logo-container:hover .taco_truck_logo, 
.logo-container:focus .taco_truck_logo {
  transform: scale(1.2);
  transition: 1.55s;
}

.logo-container .taco_truck_logo, 
.logo-container .taco_truck_logo {
  transition: 1.55s;
}