/*Title option spacing for other screen widths*/
/*smaller screen sizes*/
@media (min-width: 700px) {
    .navbar-nav > li {
      padding-left:350px;
      padding-right:520px;
    }
  }

  @media (min-width: 856px) {
    .navbar-nav > li {
      padding-left:450px;
      padding-right:520px;
    }
  }

  /*larger screen sizes*/
  @media (min-width: 990px) {
    .navbar-nav > li {
      padding-left:60px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1020px) {
    .navbar-nav > li {
      padding-left:69px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1135px) {
    .navbar-nav > li {
      padding-left:92px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1340px) {
    .navbar-nav > li {
      padding-left:133px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1450px) {
    .navbar-nav > li {
      padding-left:155px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1525px) {
    .navbar-nav > li {
      padding-left:170px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1625px) {
    .navbar-nav > li {
      padding-left:190px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1725px) {
    .navbar-nav > li {
      padding-left:210px;
      padding-right:80px;
    }
  }
  
  @media (min-width: 1835px) {
    .navbar-nav > li {
      padding-left:231px;
      padding-right:80px;
    }
  }