/*WIP #banner wallpaper for Navbar*/
/* You could use :after */
#banner:before {
    content: ' ';
    display: grid;
    position: relative;
    left: 0;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url("Taco_Truck/santamonica2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: rgba(255, 255, 255, 0.40) !important;
    background-image: url("Taco_Truck/santamonica2.jpg");
    background-blend-mode: color;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-nav > li{
  padding-left:100px;
  padding-right:80px;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  width: 100%;
  margin-right:auto;
  margin-left:auto
}

.img-container {
  position:relative;
  display:inline-block;
  z-index:1;
}
 .logo-container {
  position:absolute;
  top:20%;
  left:15%;
  width: 70%;
  height:auto;
}

.taco_truck_logo {
  width: auto;
  height: auto;
  border-radius: 100%;
}

.logo-container:hover .taco_truck_logo, 
.logo-container:focus .taco_truck_logo {
  transform: scale(1.2);
  transition: all .5s;
} 